<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button size="small" (click)="openModal()">See Invoice</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="goToCreateItems()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let item of $items | async">
    <ion-card-header>
      <ion-card-title>{{item.name}}</ion-card-title>
      <ion-card-subtitle>{{item.price}} PHP</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>

    <ion-button fill="clear" (click)="addToCurrentInvoice(item)"
      >Add to Invoice</ion-button
    >
    <ion-button fill="clear" (click)="deleteItem(item._id)">Remove</ion-button>
  </ion-card>
</ion-content>
