<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card *ngFor="let item of current$ | async">
    <ion-card-header>
      <ion-card-title>{{ item.name }}</ion-card-title>
      <ion-card-subtitle> {{ item.price }} PHP</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> {{ item.quantity }} X </ion-card-content>
    <ion-button fill="clear" (click)="remove(item._id)">Remove</ion-button>
  </ion-card>
</ion-content>
