<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <p>Login</p>
    <ion-input
      labelPlacement="stacked"
      label="Email"
      type="email"
      placeholder="email@domain.com"
    >
    </ion-input>

    <ion-input
      labelPlacement="stacked"
      label="Password"
      type="password"
      placeholder="enter your password"
    >
    </ion-input>

    <ion-button>Login</ion-button>
  </div>
</ion-content>
